.addProduct{
    float: right;
}
.addProduct{
    margin-right: 5%;
}
.text{
    margin-left: 5%;
}
.link{
  float: right;
  margin-right:5%;
}
.awesome{
  margin-left: 5% ;
}
.topside{
  margin-top: 2%;
  margin-bottom: 2%;
}
